{% extends 'base.html' %}
{% load static %}

{% block titulo%}Noticia{%endblock titulo%}

{% block contenido%}

<div style="background-color: rgb(214, 195, 110); margin: 1vw 1vw 1vw 25vw; width: 50vw; border-style: solid; border-color: rgb(236, 132, 28);;">
    <h1>{{noticia}}</h1>
    <img src="{{noticia.imagen.url}}" alt="" width="150">
    <p>{{noticia.cuerpo}}</p>
    <p>{{noticia.fecha}} / {{noticia.categoria_noticia}}</p>
</div>

<!-- <input type="submit" value="Editar"> -->

<h3>Comentarios</h3>
{% for com in comentarios %}
<div style="background-color: rgb(214, 195, 110); margin: 1vw 1vw 1vw 30vw; width: 40vw; border-style: solid; border-radius: 25px; border-color: rgb(236, 132, 28);;">
    <p><strong>{{ com.usuario }}</strong> {{ com.fecha }}</p>
    <p><em> {{ com.texto }} </em></p>
</div>

{% endfor %}

<hr> <!-- hr = Horizontal rule (linea horizontal) -->

<form action="{% url 'noticias:comentar' %}" method="post">{% csrf_token %}
    <textarea name="comentario" cols="30" rows="3"></textarea>
    <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
    <input type="submit" value="comentar">
</form>

{% endblock contenido%}