{% extends 'base.html' %}
{% load static %}
{% block stylesheet %} 
<link rel="stylesheet" href="../static/css/juegos.css">
{% endblock stylesheet %}
{% block titulo%} 8 Juegos Indie {%endblock titulo%}

{% block contenido%}
<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:xx-large; color: blue;" > LOS RECOMENDADOS </h1>

  <!-- partial:index.partial.html -->
<!-- TARJETA 1 -->
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Journey</h2>
      <p class="copy">Journey es uno de los juegos más bonitos que existen. En pocas palabras, Journey fascina por su simplicidad y riqueza visual.</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
<!-- TARJETA 2 -->
  <div class="card">
    <div class="content">
      <h2 class="title">Stardew Valley</h2>
      <p class="copy">Stardew Valley es un juego apasionante para hacer de granjero a solas o en compañía.</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
<!-- TARJETA 3 -->
  <div class="card">
    <div class="content">
      <h2 class="title">Undertale</h2>
      <p class="copy">Undertale es un RPG enfocado en las decisiones. Puedes matar, intentar dialogar o hasta reclutar enemigos como buenos aliados. </p>
      <button class="btn">Book Now</button>
    </div>
  </div>
  <!-- TARJETA 4 -->
  <div class="card">
    <div class="content">
      <h2 class="title">Disco Elysium</h2>
      <p class="copy">Se trata de un RPG distinto a lo que estamos acostumbrado, muy enfocado en la libertad de acción, decisión y construcción del personaje.</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
<!-- TARJETA 5 -->  
  <div class="card">
    <div class="content">
      <h2 class="title">Divinity: Original Sin 2</h2>
      <p class="copy">Dentro de los RPGs, Divinity: Original Sin 2 es uno de los mejores que puedes jugar.</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
<!-- TARJETA 6 -->
  <div class="card">
    <div class="content">
      <h2 class="title">This War of Mine</h2>
      <p class="copy">La guerra ha azotado a los civiles y debes ayudarles a sobrevivir a toda costa.</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
<!-- TARJETA 7 -->
  <div class="card">
    <div class="content">
      <h2 class="title">Celeste</h2>
      <p class="copy">¿Quieres un juego difícil? Celeste es uno de los títulos más desafiantes y mejor logrados en el mundo de los juegos indie.</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
  <!-- TARJETA 8 -->
  <div class="card">
    <div class="content">
      <h2 class="title">Ori and the Blind Forest</h2>
      <p class="copy">Ori and the Blind Forest posee una historia emotiva que viene acompañada de un apartado audiovisual maravilloso.</p>
      <button class="btn">Book Now</button>
    </div>
  </div>
  
</main>
<!-- partial -->
{% endblock contenido%}
